{% extends 'admin/base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container mt-4">
	<div class="createArticle">
		<h1>Ajouter un article</h1>
		{{ include('admin/admin_pages/_form.html.twig', {button: 'Ajouter'})}}
	</div>
</div>
{% endblock %}