
	<h4>Fil d'actualités 24h/24</h4>
	{% for articles in actualite %}
		<div class="metadata">
			<span class="date">{{ articles.createdAt|date('d/m') }}</span>
			<a href="{{ path('blog_show',{'id': articles.id}) }}" class="titreActualite">{{ articles.title }}</a>
		</div>
	{% endfor %}



