{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<div class="createArticle">
		<h1>Ajouter la categorie</h1>
		{{ include('admin/category/_form.html.twig', {button: 'Ajouter'})}}
	</div>

{% endblock %}