{% extends 'blog/base.html.twig' %}

{% block title %}blog-bons-plans-{{ parent() }}{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-8 titresites">
				<h3>Les meilleurs liens de site de football à visiter</h3>
				<p>Footix recense des sites web de football et vous propose une page annuaire réunissant les plus populaires sur le web. Alors n'hesitez pas à les découvrir dès maintenant. </p>
				
				<h4>Sites de foot de l'OM</h4>
				<ul class="listsites">
					<li><a href="http://www.om1899.com/">OM 1899</a></li>
					<li><a href="http://www.footmarseillais.com/">Foot Marseillais</a></li>
					<li><a href="http://www.planete-marseille.net/">Planete Marseille</a></li>
					<li><a href="http://www.madeinmarseillais.com/">Foot OM</a></li>
					<li><a href="http://afondmarseillais.free.fr/OM/olympiquedemarseille.php">A Font Marseillais</a></li>
				</ul>

				<h4>Sites de foot du PSG</h4>
				<ul class="listsites">
					<li><a href="http://www.actupsg.fr/">Actu-PSG</a></li>
					<li><a href="http://www.madeinparisiens.com/">Foot PSG</a></li>
					<li><a href="http://www.footparisien.com/">Live PSG</a></li>
					<li><a href="http://www.psgdirect.fr/">PSG-Infos</a></li>
					<li><a href="http://www.paristeam.fr/">Paris Team</a></li>
					<li><a href="http://www.psgmag.net/">Forum PSG</a></li>
				</ul>

				<h4>Sites de foot de l'OL</h4>
				<ul class="listsites">
					<li><a href="http://www.ol-passion.info/">OL Passion</a></li>
					<li><a href="http://www.madeingones.com/">Foot OL</a></li>
					<li><a href="http://www.centpourcentol.fr/">100% OL</a></li>
				</ul>

				<h4>Autres sites de clubs de foot en France</h4>
				<ul class="restlistsites">
					<div class="row">
					<div class="col-md-3">
						<li><a href="http://www.fcgb.net/" class="girondins">Girondins de Bordeaux</a></li>
						<li><a href="http://www.stade-rennais-online.com/">Stade Rennais online</a></li>
						<li><a href="https://www.lemalherbiste.fr/">SMCaen.net</a></li>
						<li><a href="http://www.webmhsc.com/">Web MHSC</a></li>
					</div>
					<div class="col-md-3">
						<li><a href="http://www.actugirondins.com/">Actu-Girondins</a></li>
						<li><a href="http://forum.stade-rennais-online.com/">Stade Rennais Forum</a></li>
						<li><a href="http://www.sangetor.net/">Sang et Or</a></li>
						<li><a href="http://www.fcnhisto.fr/index.html">FCN-histo</a></li>
					</div>
					<div class="col-md-3">
						<li><a href="http://www.girondins4ever.com/">Girondins4ever</a></li>
						<li><a href="https://www.forzabastia.com/">Forza Bastia</a></li>
						<li><a href="http://www.staderennais1901.com/">Stade Rennais 1901</a></li>
						<li><a href="http://www.montpellierinteractif.com/">MHSC</a></li>
					</div>
					<div class="col-md-3">
						<li><a href="http://www.chezlesgirondins.com/">Chez les Girondins</a></li>
						<li><a href="http://www.foot-actu.com/billets-football-europe/places-billets-ligue-1-france/places-et-billets-fc-nantes/">Vive le FC Nantes</a></li>
						<li><a href="https://www.lesviolets.com/">Allez TFC</a></li>
						<li><a href="https://www.girondins33.com/">Girondins</a></li>
					</div>
					</div>
				</ul>
				
				<h4>Sites de clubs de foot étranger en version française</h4>
				<ul class="restlistsites">
					<div class="row">
						<div class="col-md-3">
							<li><a href="http://www.calciomio.fr/">Calcio</a></li>
							<li><a href="http://www.fcbarcelonaclan.com/">FC Barcelone Clan</a></li>
							<li><a href="http://fratria.org/francais/">Spartak Moscou</a></li>
							<li><a href="http://www.mancity.fr/" class="mancity">Mercato Manchester City</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="http://www.juventus.fr/">Juventus FC</a></li>
							<li><a href="http://www.algerie-football.net/">Algérie Football</a></li>
							<li><a href="http://www.footmali.com/">Actu-Football Malien</a></li>
							<li><a href="http://acmilan-zone.fr/">Ac Milan-Zone</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="http://www.liverpoolfrance.com/">Liverpool France</a></li>
							<li><a href="https://www.gunners.fr/" class="arsenal">Arsenal Supporters France</a></li>
							<li><a href="http://www.zone-rouche.be/" class="standard">Actualité Standard de Liége</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="http://www.tunisie-foot.com/">Tunisie Foot</a></li>
							<li><a href="https://www.footespagnol.fr/">Foot Espagnol</a></li>
							<li><a href="http://www.livefoot.fr/" class="dortmund">Borussia Dortmund France</a></li>
						</div>
					</div>
				</ul>

				<h4>Sites de foot généraliste ou autre</h4>
				<ul class="restlistsites">
					<div class="row">
						<div class="col-md-3">
							<li><a href="http://www.livefoot.fr/">LiveFoot</a></li>
							<li><a href="http://www.parolesdefoot.com/">Paroles de Foot</a></li>
							<li><a href="http://www.footforever.com/index.php">Coupe du Monde Foot</a></li>
							<li><a href="http://www.storyfoot.com/">Histoir du Football</a></li>
							<li><a href="http://www.coin-des-sportifs.com/">Coin des sportifs</a></li>
							<li><a href="http://www.boutique-foot.com/">Boutique Foot</a></li>
							<li><a href="http://foot.transfert-mercato.com/">Mercato Foot</a></li>
							<li><a href="http://clubfoot.free.fr/">Annuaire Foot</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="http://www.turf-fr.com/">Gagner au Turf</a></li>
							<li><a href="http://www.meteofoot.com/" class="general">Météo Foot-Pronostics</a></li>
							<li><a href="http://www.trezeguet-david.com/">David Trezeguet</a></li>
							<li><a href="http://www.les-sports.info/">Les Sports-Resultats</a></li>
							<li><a href="https://www.gestion-equipfoot.com/" class="general">Gestion clubs de football</a></li>
							<li><a href="http://www.mondial-2006.org/">Euro 2008</a></li>
							<li><a href="http://www.footballenfrance.fr/">Football en France</a></li>
							<li><a href="http://www.football-stream.fr/">Football-Stream</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="https://dingue2foot.com/">Infos Foot</a></li>
							<li><a href="http://www.transferts.info/">Mercato</a></li>
							<li><a href="http://www.foot24.eu/">Foot24</a></li>
							<li><a href="http://www.infos-foot.net/">Infos Foot</a></li>
							<li><a href="https://www.virtuafoot.com/" class="virtua">Virtuafoot Jeu de foot en ligne</a></li>
							<li><a href="http://www.boursifoot.net/">BoursiFoot</a></li>
							<li><a href="http://www.yapeno.com/">Yapeno, le Forum Foot</a></li>
							<li><a href="http://www.billetsfoot.com/">Billets Foot</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="http://www.toufoot.com/" class="general">Toufoot, actualité et pronos</a></li>
							<li><a href="http://www.tutti-foot.fr/fiche-joueur/romelu-lukaku/">Romelu Lukaku</a></li>
							<li><a href="http://platdupied.com/">Platdupied</a></li>
							<li><a href="https://www.pronofootball.com/">Pronostics Football</a></li>
							<li><a href="http://www.sport-insolite.com/">Sport Insolite</a></li>
							<li><a href="http://www.blog-football.net/">Blog Football</a></li>
							<li><a href="http://www.entraineurdefoot.com/">Entraineur Foot</a></li>
						</div>
					</div>
				</ul>
			</div>
			<div class="col-md-4 actualite" >
				{{ include('blog/journal/actualite.html.twig')}}
			</div>
		</div>
	</div>
{% endblock %}