{% extends 'blog/base.html.twig' %}

{% block title %}blog-bons-plans-{{ parent() }}{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-8 titresites">
				<h3>Les meilleurs liens de site de football à visiter</h3>
				<p>Footix recense des sites web de football et vous propose une page annuaire réunissant les plus populaires sur le web. Alors n'hesitez pas à les découvrir dès maintenant. </p>
				
				<h4>Sites de foot de l'OM</h4>
				<ul class="listsites">
					<li><a href="http://www.om1899.com/" target="_blank">OM 1899</a></li>
					<li><a href="http://www.footmarseillais.com/" target="_blank">Foot Marseillais</a></li>
					<li><a href="http://www.planete-marseille.net/" target="_blank">Planete Marseille</a></li>
					<li><a href="http://www.madeinmarseillais.com/" target="_blank">Foot OM</a></li>
					<li><a href="http://afondmarseillais.free.fr/OM/olympiquedemarseille.php" target="_blank">A Font Marseillais</a></li>
				</ul>

				<h4>Sites de foot du PSG</h4>
				<ul class="listsites">
					<li><a href="http://www.actupsg.fr/" target="_blank">Actu-PSG</a></li>
					<li><a href="http://www.madeinparisiens.com/" target="_blank">Foot PSG</a></li>
					<li><a href="http://www.footparisien.com/" target="_blank">Live PSG</a></li>
					<li><a href="http://www.psgdirect.fr/" target="_blank">PSG-Infos</a></li>
					<li><a href="http://www.paristeam.fr/" target="_blank">Paris Team</a></li>
					<li><a href="http://www.psgmag.net/" target="_blank">Forum PSG</a></li>
				</ul>

				<h4>Sites de foot de l'OL</h4>
				<ul class="listsites">
					<li><a href="http://www.ol-passion.info/" target="_blank">OL Passion</a></li>
					<li><a href="http://www.madeingones.com/" target="_blank">Foot OL</a></li>
					<li><a href="http://www.centpourcentol.fr/" target="_blank">100% OL</a></li>
				</ul>

				<h4>Autres sites de clubs de foot en France</h4>
				<ul class="restlistsites">
					<div class="row">
					<div class="col-md-3">
						<li><a href="http://www.fcgb.net/" class="girondins" target="_blank">Girondins de Bordeaux</a></li>
						<li><a href="http://www.stade-rennais-online.com/" target="_blank">Stade Rennais online</a></li>
						<li><a href="https://www.lemalherbiste.fr/" target="_blank">SMCaen.net</a></li>
						<li><a href="http://www.webmhsc.com/" target="_blank">Web MHSC</a></li>
					</div>
					<div class="col-md-3">
						<li><a href="http://www.actugirondins.com/" target="_blank">Actu-Girondins</a></li>
						<li><a href="http://forum.stade-rennais-online.com/" target="_blank">Stade Rennais Forum</a></li>
						<li><a href="http://www.sangetor.net/" target="_blank">Sang et Or</a></li>
						<li><a href="http://www.fcnhisto.fr/index.html" target="_blank">FCN-histo</a></li>
					</div>
					<div class="col-md-3">
						<li><a href="http://www.girondins4ever.com/" target="_blank">Girondins4ever</a></li>
						<li><a href="https://www.forzabastia.com/" target="_blank">Forza Bastia</a></li>
						<li><a href="http://www.staderennais1901.com/" target="_blank">Stade Rennais 1901</a></li>
						<li><a href="http://www.montpellierinteractif.com/" target="_blank">MHSC</a></li>
					</div>
					<div class="col-md-3">
						<li><a href="http://www.chezlesgirondins.com/" target="_blank">Chez les Girondins</a></li>
						<li><a href="http://www.foot-actu.com/billets-football-europe/places-billets-ligue-1-france/places-et-billets-fc-nantes/" target="_blank">Vive le FC Nantes</a></li>
						<li><a href="https://www.lesviolets.com/" target="_blank">Allez TFC</a></li>
						<li><a href="https://www.girondins33.com/" target="_blank">Girondins</a></li>
					</div>
					</div>
				</ul>
				
				<h4>Sites de clubs de foot étranger en version française</h4>
				<ul class="restlistsites">
					<div class="row">
						<div class="col-md-3">
							<li><a href="http://www.calciomio.fr/" target="_blank">Calcio</a></li>
							<li><a href="http://www.fcbarcelonaclan.com/" target="_blank">FC Barcelone Clan</a></li>
							<li><a href="http://fratria.org/francais/" target="_blank">Spartak Moscou</a></li>
							<li><a href="http://www.mancity.fr/" class="mancity" target="_blank">Mercato Manchester City</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="http://www.juventus.fr/" target="_blank">Juventus FC</a></li>
							<li><a href="http://www.algerie-football.net/" target="_blank">Algérie Football</a></li>
							<li><a href="http://www.footmali.com/" target="_blank">Actu-Football Malien</a></li>
							<li><a href="http://acmilan-zone.fr/" target="_blank">Ac Milan-Zone</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="http://www.liverpoolfrance.com/" target="_blank">Liverpool France</a></li>
							<li><a href="https://www.gunners.fr/" class="arsenal" target="_blank">Arsenal Supporters France</a></li>
							<li><a href="http://www.zone-rouche.be/" class="standard" target="_blank">Actualité Standard de Liége</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="http://www.tunisie-foot.com/" target="_blank">Tunisie Foot</a></li>
							<li><a href="https://www.footespagnol.fr/" target="_blank">Foot Espagnol</a></li>
							<li><a href="http://www.livefoot.fr/" class="dortmund" target="_blank">Borussia Dortmund France</a></li>
						</div>
					</div>
				</ul>

				<h4>Sites de foot généraliste ou autre</h4>
				<ul class="restlistsites">
					<div class="row">
						<div class="col-md-3">
							<li><a href="http://www.livefoot.fr/" target="_blank">LiveFoot</a></li>
							<li><a href="http://www.parolesdefoot.com/" target="_blank">Paroles de Foot</a></li>
							<li><a href="http://www.footforever.com/index.php" target="_blank">Coupe du Monde Foot</a></li>
							<li><a href="http://www.storyfoot.com/" target="_blank">Histoir du Football</a></li>
							<li><a href="http://www.coin-des-sportifs.com/" target="_blank">Coin des sportifs</a></li>
							<li><a href="http://www.boutique-foot.com/" target="_blank">Boutique Foot</a></li>
							<li><a href="http://foot.transfert-mercato.com/" target="_blank">Mercato Foot</a></li>
							<li><a href="http://clubfoot.free.fr/" target="_blank">Annuaire Foot</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="http://www.turf-fr.com/" target="_blank">Gagner au Turf</a></li>
							<li><a href="http://www.meteofoot.com/" class="general" target="_blank">Météo Foot-Pronostics</a></li>
							<li><a href="http://www.trezeguet-david.com/" target="_blank">David Trezeguet</a></li>
							<li><a href="http://www.les-sports.info/" target="_blank">Les Sports-Resultats</a></li>
							<li><a href="https://www.gestion-equipfoot.com/" class="general" target="_blank">Gestion clubs de football</a></li>
							<li><a href="http://www.mondial-2006.org/" target="_blank">Euro 2008</a></li>
							<li><a href="http://www.footballenfrance.fr/" target="_blank">Football en France</a></li>
							<li><a href="http://www.football-stream.fr/" target="_blank">Football-Stream</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="https://dingue2foot.com/" target="_blank">Infos Foot</a></li>
							<li><a href="http://www.transferts.info/" target="_blank">Mercato</a></li>
							<li><a href="http://www.foot24.eu/" target="_blank">Foot24</a></li>
							<li><a href="http://www.infos-foot.net/" target="_blank">Infos Foot</a></li>
							<li><a href="https://www.virtuafoot.com/" class="virtua" target="_blank">Virtuafoot Jeu de foot en ligne</a></li>
							<li><a href="http://www.boursifoot.net/" target="_blank">BoursiFoot</a></li>
							<li><a href="http://www.yapeno.com/" target="_blank">Yapeno, le Forum Foot</a></li>
							<li><a href="http://www.billetsfoot.com/" target="_blank">Billets Foot</a></li>
						</div>
						<div class="col-md-3">
							<li><a href="http://www.toufoot.com/" class="general" target="_blank">Toufoot, actualité et pronos</a></li>
							<li><a href="http://www.tutti-foot.fr/fiche-joueur/romelu-lukaku/" target="_blank">Romelu Lukaku</a></li>
							<li><a href="http://platdupied.com/" target="_blank">Platdupied</a></li>
							<li><a href="https://www.pronofootball.com/" target="_blank">Pronostics Football</a></li>
							<li><a href="http://www.sport-insolite.com/" target="_blank">Sport Insolite</a></li>
							<li><a href="http://www.blog-football.net/" target="_blank">Blog Football</a></li>
							<li><a href="http://www.entraineurdefoot.com/" target="_blank">Entraineur Foot</a></li>
						</div>
					</div>
				</ul>
			</div>
			<div class="col-md-4 actualite" >
				{{ include('blog/journal/actualite.html.twig')}}
			</div>
		</div>
	</div>
{% endblock %}