
{% for articles in listArticles %}
	<div class="articles">
		
		<a href="{{ path('blog_show',{'id': articles.id})}}">
			<div class="metadata">
				<span class="date">{{ articles.createdAt|date('d/m') }}</span> - <span class="categoryArticle">{{ articles.category.title|upper }}</span>
			</div>
			<div class="titreArticles">
				<p>{{ articles.title }}</p>
			</div>
		</a>
		
	</div>
{% endfor %}